{% extends 'base.html.twig' %}

{% block title %}HOME PAGE!
{% endblock %}

{% block body %}
	<div
		class="container">
		{# LINK TO FORM #}
		<div>
            <center>
			    <a href="{{ path('app_application') }}">FILL APPLICATION</a>
            </center>
		</div>
	</div>
{% endblock %}
